.ikon-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* Buat ikon foto */
    background-image: url(../assets/image/Acumalaka.gif);
    background-size: cover;
}

.nav-kontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>a {
    margin-left: -2px;
    margin-right: -2px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
    color: green;
    text-decoration: none;
}

main {
    padding: 20px;
}

.banner-kontainer {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-image: url(../assets/image/kalengBekas.jpeg);
}

hr {
    border-color: red;
}

.ikon-profil {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.profil1 {
    background-image: url(../assets/image/logoBTH.png);
    background-size: cover;
}

.profil2 {
    background-image: url(../assets/image/botol.png);
    background-size: cover;
}

.profil3 {
    background-image: url(../assets/image/redcircle.webp);
    background-size: cover;
}

.konten-profil {
    display: flex;
    justify-content: space-evenly;
}

.item-profil {
    text-align: center;
    text-align: -webkit-center;
    flex: 1;
}

.pemisah {
    flex: 2;
}