.ikon-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* Buat ikon foto */
    background-image: url(../assets/image/Acumalaka.gif);
    background-size: cover;
}

.nav-kontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    color: brown;
    border: 1px solid;
    border-radius: 50px;
}

nav>a {
    padding-right: 40px;
    padding-left: 40px;
    border: 1px solid;
}

.banner-kontainer {
    height: 350px;
    width: 100%;
    border: 1px solid;
}


.ikon-profil {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.profil1 {
    background-image: url(../assets/image/logoBTH.png);
    background-size: cover;
}

.profil2 {
    background-image: url(../assets/image/botol.png);
    background-size: cover;
}

.profil3 {
    background-image: url(../assets/image/redcircle.webp);
    background-size: cover;
}

.konten-profil {
    display: flex;
    justify-content: space-evenly;
}

.item-profil {
    text-align: center;
}